<div class='units'><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>

<br/><span style='font-size:16px'><b>Scadx doc & tests</b>=    { "funcs": <u style="color:purple">45</u>, "tests": <u style="color:blue">95</u>, "fail(s)": <u style="color:red">0</u> }<br/>
