

<style>

  .title

{ font-weight:900; font-size:24px; padding:10px; font-family:Times New Roman; }

  .menu

{ font-size:12px; }

  .units

{ border-bottom:1px solid #B09955; }

  .unit

{ margin:0px; border:1px solid #B09955; border-width:1px 1px 0px 1px; }

  .header

{ background:#E5DDC6; padding:0px 3px 3px 5px; }

  .unitName

{ cursor:pointer; cursor:hand; }

  .buttons

{ display:inline-block; }

  button

{ background:#E5DDC6; border-width:1px; color:#B09955; font-size:10px; vertical-align:middle; cursor:pointer; cursor:hand; }

  .content

{ background:#F2EEE3; padding:5px; font-size:13px; font-family:ubuntu mono; }

  .doc

{ background:white; border:1px solid #E5DDC6; padding:5px 5px 5px 0px; }

  .tests

{ background:white; border:1px solid #E5DDC6; padding:5px 5px 5px 0px; margin-top:0px; }

</style>

<div class='title'>scadx_core_test2_dev</div>

<div class='menu'><a href='#accumulate'>accumulate</a> | <a href='#addx'>addx</a> | <a href='#addy'>addy</a> | <a href='#addz'>addz</a> | <a href='#all'>all</a> | <a href='#angle'>angle</a></div>

<div class='units'><div class='unit' id='accumulate'><div class='header'><b><span class='unitName'>accumulate</span></b><span style='color:blue'> <b>(</b> <span 13 style='color:#444444;font-family:ubuntu mono;font-size:'><i>arr</i></span> <b>)</b></span><span style='color:green'>=</span>array ( tested:1 )<sup style='color:gray'> (mode:111)</sup><span class='buttons'><button class='btnFoldAll'>x</button><button class='btnUnFoldAll'>o</button><button><a href='#' style='color:#B09955'>^</a></button></span></div><div class='content' id='accumulate_content'><code><div class="doc">&nbsp;Given [a,b,c...], return [a,a+b,a+b+c...]<br/>&nbsp;<br/>&nbsp;<u>Tag</u>: Math<br/>&nbsp;<u>Rel</u>: <a href='#sum' style='color:black'>sum</a>,<a href='#sumto' style='color:black'>sumto</a></div></code></div></div><div class='unit' id='addx'><div class='header'><b><span class='unitName'>addx</span></b><span style='color:blue'> <b>(</b> <span 13 style='color:#444444;font-family:ubuntu mono;font-size:'><i>pt,x=0</i></span> <b>)</b></span><span style='color:green'>=</span>array ( tested:6 )<sup style='color:gray'> (mode:111)</sup><span class='buttons'><button class='btnFoldAll'>x</button><button class='btnUnFoldAll'>o</button><button><a href='#' style='color:#B09955'>^</a></button></span></div><div class='content' id='addx_content'><code><div class="doc">&nbsp;Given a point or points (pt) and a x value, add x to pt.x.<br/>&nbsp;When pt is a collection of points, add x to each pt if x is<br/>&nbsp;a number, or add x[i] to pt[i].x if x is an array. That is, <br/>&nbsp;by setting x as array, we can add different values to each <br/>&nbsp;pt[i].x. <br/>&nbsp;<br/>&nbsp;  addx([2,3,4],x=1) => [3,3,4]<br/>&nbsp;  addx([[2,3],[5,6]],x=1) => [[3,3],[6,6]]<br/>&nbsp;  addx([[2,3],[5,6]],x=[8,9]) => [[10,3],[14,6]]<br/>&nbsp;<br/>&nbsp;<u>Tag</u>: Point<br/>&nbsp;<u>Rel</u>: <a href='#addy' style='color:black'>addy</a>,<a href='#addz' style='color:black'>addz</a>,<a href='#app' style='color:black'>app</a>,<a href='#appi' style='color:black'>appi</a></div></code></div></div><div class='unit' id='addy'><div class='header'><b><span style='color:red'><span class='unitName'>addy</span></span></b><span style='color:blue'> <b>(</b> <span 13 style='color:#444444;font-family:ubuntu mono;font-size:'><i>pt,y=0</i></span> <b>)</b></span><span style='color:green'>=</span>array ( tested:8<span style='color:red'>/failed:2</span> )<sup style='color:gray'> (mode:111)</sup><span class='buttons'><button class='btnFoldAll'>x</button><button class='btnUnFoldAll'>o</button><button><a href='#' style='color:#B09955'>^</a></button></span></div><div class='content' id='addy_content'><code><div class="doc">&nbsp;Add y to pt. See doc in addx<br/>&nbsp;<br/>&nbsp;<u>Tag</u>: Point<br/>&nbsp;<u>Rel</u>: <a href='#addx' style='color:black'>addx</a>,<a href='#addz' style='color:black'>addz</a>,<a href='#app' style='color:black'>app</a>,<a href='#appi' style='color:black'>appi</a></div><div class="tests" style='border-top-width:0px'><code><span style='color:red'>?</span>1> <span style='color:red'>addy<span style='color:purple'>(</span><span 13 style='color:#444444;font-family:ubuntu mono;font-size:'><i>[2,3], y=1</i></span><span style='color:purple'>)</span></span> <u>want</u>: <span style='color:navy'>[2, 5]</span> <u><span style='color:red'>got</span></u>: <span style='color:navy'>[2, 4]</span><br/><span style='color:red'>?</span>2> <span style='color:red'>addy<span style='color:purple'>(</span><span 13 style='color:#444444;font-family:ubuntu mono;font-size:'><i>[2,3,4], y=1</i></span><span style='color:purple'>)</span></span> <u>want</u>: <span style='color:navy'>[2, 5, 4]</span> <u><span style='color:red'>got</span></u>: <span style='color:navy'>[2, 4, 4]</span></code></div></code></div></div><div class='unit' id='addz'><div class='header'><b><span class='unitName'>addz</span></b><span style='color:blue'> <b>(</b> <span 13 style='color:#444444;font-family:ubuntu mono;font-size:'><i>pt,z=0</i></span> <b>)</b></span><span style='color:green'>=</span>array ( tested:6 )<sup style='color:gray'> (mode:111)</sup><span class='buttons'><button class='btnFoldAll'>x</button><button class='btnUnFoldAll'>o</button><button><a href='#' style='color:#B09955'>^</a></button></span></div><div class='content' id='addz_content'><code><div class="doc">&nbsp;Add z to pt. See doc in addx.<br/>&nbsp;<br/>&nbsp;Note that addz() - unlike addx, addy - expands a 2D pt to 3D.<br/>&nbsp;<br/>&nbsp;<u>Tag</u>: Point<br/>&nbsp;<u>Rel</u>: <a href='#addx' style='color:black'>addx</a>,<a href='#addy' style='color:black'>addy</a>,<a href='#app' style='color:black'>app</a>,<a href='#appi' style='color:black'>appi</a></div></code></div></div><div class='unit' id='all'><div class='header'><b><span class='unitName'>all</span></b><span style='color:blue'> <b>(</b> <span 13 style='color:#444444;font-family:ubuntu mono;font-size:'><i>arr,isdefined=false,item=undef)</i></span> <b>)</b></span><span style='color:green'>=</span>T|F ( tested:8 )<sup style='color:gray'> (mode:111)</sup><span class='buttons'><button class='btnFoldAll'>x</button><button class='btnUnFoldAll'>o</button><button><a href='#' style='color:#B09955'>^</a></button></span></div><div class='content' id='all_content'><code><div class="doc">&nbsp;Return true if all items in *arr* is:<br/>&nbsp; (1) ==item (when isdefined=true), or<br/>&nbsp; (2) treated as true (when isdefined=false)<br/>&nbsp;<br/>&nbsp;<u>Tag</u>: Core, Inspect<br/>&nbsp;<u>Rel</u>: <a href='#index' style='color:black'>index</a></div></code></div></div><div class='unit' id='angle'><div class='header'><b><span class='unitName'>angle</span></b><span style='color:blue'> <b>(</b> <span 13 style='color:#444444;font-family:ubuntu mono;font-size:'><i>pqr,refpt=undef, lineHasToMeet=true</i></span> <b>)</b></span><span style='color:green'>=</span>number ( tested:10 )<sup style='color:gray'> (mode:111)</sup><span class='buttons'><button class='btnFoldAll'>x</button><button class='btnUnFoldAll'>o</button><button><a href='#' style='color:#B09955'>^</a></button></span></div><div class='content' id='angle_content'><code><div class="doc">&nbsp;Given a 3-pointer (pqr), return the angle of P-Q-R. <br/>&nbsp;   <br/>&nbsp;2015.3.3: new arg *refpt* : a point given to decide the sign of <br/>&nbsp; angle. If the refpt is on the same side of normalPt, the angle<br/>&nbsp; is positive. Otherwise, negative. <br/>&nbsp;    <br/>&nbsp;2015.3.8: <br/>&nbsp;   <br/>&nbsp; Allows for angle( [line1,line2]). If lineHasToMeet(default), 2 lines <br/>&nbsp; must have a lineCrossPt. If lineHasOtMeet=false , then the angle of <br/>&nbsp; both lines" unit vectors is returned.<br/>&nbsp;<br/>&nbsp;<u>Tag</u>: Angle<br/>&nbsp;<u>Rel</u>: <a href='#angle' style='color:black'>angle</a>,<a href='#angleBisectPt' style='color:black'>angleBisectPt</a>,<a href='#anglePt' style='color:black'>anglePt</a>,<a href='#anyAnglePt' style='color:black'>anyAnglePt</a>,<a href='#incenterPt' style='color:black'>incenterPt</a>,<a href='#intersectPt' style='color:black'>intersectPt</a>,<a href='#is90' style='color:black'>is90</a>,<a href='#Mark90' style='color:black'>Mark90</a></div></code></div></div></div>

<br/><span style='font-size:16px'><u style='color:purple'>6</u> funcs tested with <u style='color:blue'>39</u> tests and <u style='color:red'>2</u> fail(s).</span><br/>

<script>

 function toggle_content(){

    header= this.parentNode;

    tag_has_funcname = header.children[0].children[0]; // <b>funcname</b>

    tag_has_funcname = tag_has_funcname.childElementCount //<b><span...>funcname</span</b>

                       ?tag_has_funcname.children[0]

                         :tag_has_funcname;

    fname=tag_has_funcname.innerHTML;

    target= document.getElementById(fname+'_content');

    target.style.display = target.style.display=='none'?'block':'none';

 }

 document.body.onload=function(){   

    contentTags= document.getElementsByClassName('content');    

    headerTags = document.getElementsByClassName('header');

    btnFoldAlls= document.getElementsByClassName('btnFoldAll');

    btnUnFoldAlls= document.getElementsByClassName('btnUnFoldAll');

    btnGoTops= document.getElementsByClassName('btnGoTop');

        

    for( var i=0;i<headerTags.length;i++){

       headerTags[i].children[0].onclick= toggle_content;  

    } 

    for( var i=0;i<btnFoldAlls.length;i++){

       btnFoldAlls[i].onclick= foldAll;  

    } 

    for( var i=0;i<btnUnFoldAlls.length;i++){

       btnUnFoldAlls[i].onclick= unFoldAll;  

    } 

 }



 function foldAll(){

    for( var i=0;i<contentTags.length;i++){

       contentTags[i].style.display= 'none';  

    }

 }

 function unFoldAll(){

    for( var i=0;i<contentTags.length;i++){

       contentTags[i].style.display= 'block';  

    }  

 }

</script>
